<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Sistema Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
  <ion-label>Operações Do Cliente</ion-label>
  <ion-button routerLink="/meucarrinho">Meu Carrinho</ion-button>
  <ion-button routerLink="/comprarprodutos">Comprar Produtos</ion-button>
</ion-item>

<ion-item>
  <ion-label>Operações Do Admin</ion-label>
  <ion-button routerLink="/cadastrarprodutos">Cadastrar Produtos</ion-button>
  <ion-button routerLink="/excluirprodutos">Excluir Produtos</ion-button>
  <ion-button routerLink="/editarprodutos">Editar Produtos</ion-button>
</ion-item>
</ion-content>
